SE1/XmlParser/dtd/teacher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Teacher" type="TeacherType"/>
  <xs:complexType name="TeacherType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="teacherId"/>
      <xs:element type="xs:string" name="age"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>